obsolete/org.eclipse.rap.w4t/INTERNAL/java/src/w4t.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:jxb="http://java.sun.com/xml/ns/jaxb" xmlns:w4t="http://w4toolkit.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" jxb:version="1.0" targetNamespace="http://w4toolkit.com/">

  <xsd:element name="application" type="w4t:ApplicationType"/>

  <xsd:complexType name="ApplicationType">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="initialisation" type="w4t:InitialisationType"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="fileUpload" type="w4t:FileUploadType"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="InitialisationType">
    <xsd:all>
      <xsd:element maxOccurs="1" minOccurs="0" name="startUpForm" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
            the fully qualified class name of the WebForm
            that is displayed when the web application starts.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element default="Standard" maxOccurs="1" minOccurs="0" name="compatibilityMode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
            the working mode for the W4T engine.
            Currently only "Standard" is supported.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      
      <xsd:element default="com.w4t.administration.Startup" maxOccurs="1" minOccurs="0" name="administrationStartupForm" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
            the fully qualified class name of a WebForm that is used as
            entry point for an web-application providing administration
            information about the main application.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      
      <xsd:element default="com.w4t.administration.ErrorForm" maxOccurs="1" minOccurs="0" name="errorPage" type="xsd:string">

        <xsd:annotation>
          <xsd:documentation>
            the fully qualified class name of a WebForm that
            displays Exceptions that broke the control flow within
            the web application.
            If user-defined, this must be a subclass of 
            com.w4t.WebForm and must implement the 
            com.w4t.WebErrorForm interface.          
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      
      <xsd:element default="com.w4t.administration.MessageForm" maxOccurs="1" minOccurs="0" name="messagePage" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
            the fully qualified class name of a WebForm that
            displays messages that were created within the web
            application.
            If user-defined, this must be a subclass of 
            com.w4t.WebForm and must implement the 
            com.w4t.MessageForm interface.          
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      
      <xsd:element default="WEB-INF/classes" maxOccurs="1" minOccurs="0" name="workDirectory" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
            the path to a writeable directory, used for temporary
            files (relative to the web application's root path).
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element default="900000" maxOccurs="1" minOccurs="0" name="closingTimeout">
        <xsd:annotation>
          <xsd:documentation>
            maximum time till the closing of a WebForm on the
            client is recognized at server side.
            Time interval, in ms.          
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:long">
            <xsd:minInclusive value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      
      <xsd:element default="60000" maxOccurs="1" minOccurs="0" name="skimmerFrequency">
        <xsd:annotation>
          <xsd:documentation>
            time interval between scans for closed WebForm at
            the server side. This value should not be greater than
            half of the closingTimeout value.
            Time interval, in ms.          
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:long">
            <xsd:minInclusive value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      
      <xsd:element default="false" maxOccurs="1" minOccurs="0" name="directMonitoringAccess" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>
            whether the w4t administration pages are accessible
            via the admin.html page. (Shoud be 'false' for productive 
            versions.)
            Can be 'true' or 'false'.          
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element default="true" maxOccurs="1" minOccurs="0" name="compression" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>
            whether the html output of the web appliction is sent
            gzipped to browsers that support gzipped network 
            communication. (Should be 'true' for productive versions
            to save network traffic and shorten loading time.)
            Can be 'true' or 'false'.          
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
                  
      <xsd:element default="false" maxOccurs="1" minOccurs="0" name="processTime" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>
            whether the server-side processing time of the html
            page is displayed (on the bottom of the page). This
            may be useful for application tuning. (Will be 'false'
            for productive versions.)
            Can be 'true' or 'false'.          
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element default="None" maxOccurs="1" minOccurs="0" name="noscriptSubmitters">
        <xsd:annotation>
          <xsd:documentation>
            whether special submitter images are used for 
            browsers that have javascript disabled.
            Possible values are:
            - None
              If set to 'None', a standard submitter image 
              rendered in addition to the labels on link 
              buttons, tree nodes etc.;                 	
            - Create 
              If set to 'Create', a special image is created 
              automatically with the appropriate text and colors.
              Images created only once and buffered on harddisk
              in the webapplications image directory.
              Setting this to 'create' requires an available X 
              server on Unixes, however.
            - Use 
              If set to 'Use' earlier generated images are used
              but no new images are generated. If no image is 
              available from disk, a standard submitter image 
              is rendered in addition to the labels on link 
              tree nodes etc.;                 	
            Can be 'None', 'Create' or 'Use'.          
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="None"/>
            <xsd:enumeration value="Use"/>
            <xsd:enumeration value="Create"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      
      <xsd:element default="deliverFromDisk" maxOccurs="1" minOccurs="0" name="resources">
        <xsd:annotation>
          <xsd:documentation>
             whether static resources like javascript-libraries, images, 
             css-files etc. which are available on the applications 
             classpath are copied to disk and delivered as static files by 
             a web-server or delivered directly by the servlet engine.
             Should be 'deliverFromDisk' in most cases.
             Can be 'deliverFromDisk' or 'deliverByServlet'.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="deliverFromDisk"/>
            <xsd:enumeration value="deliverByServlet"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      
      <xsd:element default="0" maxOccurs="1" minOccurs="0" name="maxSessionUnboundToForceGC" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
            this is a special option for certain environments, where
            the gc algorithm comes too late to unload classes.
            If set to a number &gt; 0, this will enforce a gc after the
            specified number of sessions has been invalidated.                                                            
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>    
      
      <xsd:element default="Empty" maxOccurs="1" minOccurs="0" name="handleMissingI18NResource">
        <xsd:annotation>
          <xsd:documentation>
              W4 Toolkit supports i18n by accepting values like
              property://someKey@some.package.SomePropertiesFile
              which are resolved on rendering, so that the specified
              property is displayed in the HTML output that the user
              sees.
              This attribute specifies the behaviour of the resolver
              when the specifed resource could not be found as expected.
              (For development, it may be convenient to set this to 
              "Fail", whereas probably in productive environments
              the most sensible setting would be "Empty" here.)
              Possible values are:
              - "Fail"     behaves like a failed assertion, that is 
                           a runtime exception is fired.
              - "Empty"    does nothing and renders an empty String 
                           into the component's output.
              - "Explicit" does nothing and renders the property URI
                           literally into the component's output.
              Can be "Fail", "Empty" or "Explicit"          
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Fail"/>
            <xsd:enumeration value="Empty"/>
            <xsd:enumeration value="Explicit"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>    

    </xsd:all>
  </xsd:complexType>
  <!-- InitialisationType -->

  <!-- FileUpload -->
  <xsd:complexType name="FileUploadType">
    <xsd:all>
      <xsd:element default="4194304" maxOccurs="1" minOccurs="0" name="maxUploadSize" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
            Sets the maximum allowed upload size in bytes or -1 for no maximum.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element default="524288" maxOccurs="1" minOccurs="0" name="maxMemorySize" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
            Sets the threshold of the allowed upload size in bytes which is kept
            in memory.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

    </xsd:all>
  </xsd:complexType>
  <!-- FileUpload -->

</xsd:schema>
